@import url('/style/main.css');

header {
    background: url('/img/login.jpg');
    height: 100px;
}

header #logo {
    width: 200px;
    float: left;
}

a {
    img {
        position: absolute;
        background-color: #ffb009;
        top: -60px;
        width: 160px;
        border-radius: 80px;
    }
}


nav {
    float: right;
    margin-top: 30px;
}



nav a {
    padding: 14px;
    font-weight: 700;
    margin: 0 15px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    background: black;
    color: orange;
    text-decoration: none;
}

main {
    padding: 80px;

    h1 {
        position: absolute;
        font-size: 18px;
        color: orange;
        left: 20px;
        top: 120px;
    }

    p {
        font-weight: 300;
        text-align: justify;
        font-size: 18px;
        color: #707070;
        line-height: 1.8;
        margin: 0 auto;
        padding: 20px;
        width: 80%;
    }



    form {
        position: absolute;
        left: 320px;

        input,
        textarea {
            border: 1px solid #000000;
            width: 60%;
            padding: 14px 24px;
            font-size: 14px;
            border-radius: 25px;
            max-width: 100%;
            font-family: inherit;
            margin: 28px;
        }
    }

    .btn[type="submit"] {
        background-color: #020202;
        color: #fff;
        cursor: pointer;
        border: solid #000;
        padding: 8px;
        border-radius: 50px;
    }
}
aside {
    width: 100%;
    position: absolute;
    bottom: -400px;
    text-align: center;
    background-color: #000;


    div {
        padding: 8px;
        color: #ffffff;
        background-color: #0040;

        #aceitar_emails,
        #alertas_sms,
        #whatsapp {
            width: 15px;
        }

        input {
            margin: 0px 10px;
            width: 224px;
            padding: 8px;
            border: 2px solid #000;
            border-radius: 30px;
            background-color: #4ddb4d;
            color: #ffffff;
            font-weight: bold;
        }

    }
}

footer {
    position: absolute;
    bottom: -500px;
    width: 100%;
    background: url("/img/areta-login.png");
}

/* Estilos para a seção do footer */

footer section {
    padding: 16px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    text-align: center;
    background: url("/img/areta-login.png");
    height: 100%;
    color: white;
    font-weight: 900;

}

footer section ul li {
    display: inline;
    margin-right: 10px;
}

footer section ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-size: 20px;

}

footer section ul li a:hover {
    color: #007bff;
}