@import './main.css';

main {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background-image: url(/img/login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    margin: 0 auto;
    background: #00ff85c7;

}

.login-form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    padding: 20px;
    border: 6px solid #0a0000;
    border-radius: 5px;
    box-shadow: 60px 80px 60px rgba(2, 0, 5, 0.8);
}

div {
    margin-bottom: 15px;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

label {
    display: flex;
    margin: 8px;
}

a {
    color: #fff;
    text-decoration: none;


}

input[type="text"],
input[type="password"] {
    width: 96%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 30px;
}


button[type="submit"] {
    width: 120px;
    background-color: #020202;
    color: #fff;
    cursor: pointer;
    border: solid #000;
    padding: 8px;
    border-radius: 50px;
}

button[type="submit"]:hover {
    background-color: #49e149;
}