@import url('/style/main.css');

header,
nav,
main,
aside,
footer {
    background-color: #fafafa;
    margin: 0 auto;
}

header {
    background: url('/img/login.jpg');
    background: #000;
}

header #logo {
    background: #c9c9c9;
    width: 200px;
    float: left;
}

nav {
    float: right;
    margin-top: 30px;
}

nav a {
    margin: 0 20px;
    font-size: 20pt;
    display: inline-block;
}

main {
    float: left;
    margin: 50px auto;
    width: fit-content;
    height: fit-content;
}

/* main section {
    width: 100%;
    margin: 10px;
} */

aside {
    float: right;
    width: 200px;
}

footer {
    clear: both;
    height: 200px;
    width: 35px;

}

/* Estilos para a seção do footer */

footer section {
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}

footer section ul li {
    display: inline;
    margin-right: 10px;
}

footer section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

footer section ul li a:hover {
    color: #007bff;
}

/* Media queries simplificados para ajustes de layout responsivo */

@media only screen and (max-width: 717px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    nav {
        float: none;
        text-align: center;
        margin-top: 0;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    aside {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }
}

/* Estilos para o layout geral */

body {
    margin: 3px;
}

header,
nav,
main,
aside,
footer {
    background-color: #f9f9f9;
    margin: 3px;
}

header {
    background: #c9c9c9;
}

header #logo {
    background: #c9c9c9;
    width: 200px;
    float: left;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0% 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    float: right;
    margin-top: 30px;
}

nav a {
    margin: 0 20px;
    font-size: 20pt;
    display: inline-block;
}

main {
    float: left;
    margin: 50px auto;
    width: fit-content;
    height: fit-content;
}

main section {
    width: 100%;
    margin: 10px;
}

aside {
    float: right;
    width: 100%;
    margin: 0 auto;
}

footer {
    clear: both;
}

/* Estilos para a seção do footer */

footer section {
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}

footer section ul li {
    display: inline;
    margin-right: 10px;
}

footer section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

footer section ul li a:hover {
    color: #007bff;
}

/* Media queries simplificados para ajustes de layout responsivo */

@media only screen and (max-width: 717px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    nav {
        float: none;
        text-align: center;
        margin-top: 0;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    aside {

        float: right;
        width: 100%;
        margin: 0 auto;
    }

    footer {
        text-align: center;
    }
}