.vibeverse-main {

    .slider {
        position: relative;
        width: 100%;
        max-width: 600px;
        /* Ajuste o tamanho conforme necessário */
        margin: 0 auto;
        overflow: hidden;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        min-width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    label {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #999;
        margin: 0 5px;
        cursor: pointer;
    }

    /* Para estilizar os marcadores quando estão selecionados */
    input[type="radio"] {
        display: none;
    }

    #slide1:checked~.slides {
        transform: translateX(0);
    }

    #slide2:checked~.slides {
        transform: translateX(-100%);
    }

    #slide3:checked~.slides {
        transform: translateX(-200%);
    }

    #slide1:checked~.navigation label:nth-child(1),
    #slide2:checked~.navigation label:nth-child(2),
    #slide3:checked~.navigation label:nth-child(3) {
        background: #333;
    }
}